*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(183, 226, 211);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1400px;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    background-color: #ddd;
    border-radius: 50px;
    
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color:#009578;
}

article{
    margin: 30px 0px;
}

.heading{
    text-align: center;
    font-size: 4rem;
    margin: 30px 10px;
    color: #009578;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    box-shadow: 0 1px 8px #ddd;
    background: #ddd;
    border-radius: 20px;
}


.image {
	position: relative;
	width: 400px;
}

.image__img {
	display: block;
	width: 400px;
    height: 300px;
    border-radius: 20px;
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
    border-radius: 20px;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay--primary {
	background: #009578;
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 2em;
	font-weight: bold;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



footer div p{
    color: #009578;
}